@import url('https://fonts.googleapis.com/css2?family=Anta&family=Archivo:ital,wght@0,100..900;1,100..900&family=Kanit&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500&display=swap');

.Quiz-content{
    /* display:grid;
    place-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    width: 30vw;
    margin-left:35% ;
    padding: 2rem;
    flex-direction: column;
    border-radius: 30px;
    
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;

}
.Quiz-content-header{
    margin-bottom: 5%;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Quiz-content-qa{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Quiz-content-question{
    margin-bottom: 5%;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.Quiz-content-options{
    list-style-type: none;
    font-size: 1.5rem;
    
}
.radio-button-container {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .radio-button__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
  }
  
  .radio-button__input:checked + .radio-button__label .radio-button__custom {
    background-color: #4c8bf5;
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px #4c8bf580;
  }
  
  .radio-button__input:checked + .radio-button__label {
    color: #4c8bf5;
  }
  
  .radio-button__label:hover .radio-button__custom {
    transform: scale(1.2);
    border-color: #4c8bf5;
    box-shadow: 0 0 20px #4c8bf580;
  }
  
.quiz-submit {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-right: -10rem;
   }
   
 .quiz-submit {
    width: 12rem;
    height: auto;
   }
   
 .quiz-submit .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
 .quiz-submit .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
 .quiz-submit .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
 .quiz-submit .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
 .quiz-submit .quiz-submit-button-text{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
 .quiz-submit:hover .circle {
    width: 100%;
   }
   
 .quiz-submit:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
 .quiz-submit:hover .quiz-submit-button-text{
    color: #fff;
   }
  
 .previous-next {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
 .previous-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
 .previous-next:hover {
    color: #e8e8e8;
   }
   
 .previous-next:hover::before {
    width: 100%;
   }
   .cta {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.5);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:not([disabled]):after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }
  .cta.disabled{
    color:white;
    
  }
  .hover-underline-animation:hover:not([disabled]):after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .quiz-complete-img{
    width: 20vw;
    height:40vh;
  }
  .Quiz-score{
    text-align: center;
  }
  .Quiz-completed-header{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.6rem;

  }
  .Quiz-completed-score-display{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#8e37d5;
    font-size: 1.5rem;
  }
