.reviewbar {
    border: 1px solid #ccc;
    background-color: rgb(125, 120, 219);
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    color: #ffff;
    transition: border-radius 0.3s ease, transform 0.5s;
    cursor: pointer;
}

.reviewbar:hover {
    border-radius: 10px;
    transition: opacity 1.2s, transform 1.3s;
    
}

.reviewbar>.feedback {
    display: none;
    padding: 5px;
    font-size: medium;
    font-family: "Poppins", sans-serif;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 0.3s, transform 0.3s;
}

.reviewbar:hover>.feedback {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.3s;
}

.userinfo {
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.reviews{
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    width: 30vw;
    margin-left:1rem;
    justify-content: space-between;
}
@media (max-width:1300px){
    .reviews{
        width: 27vw;
    }
    .reviewbar:hover{
        height: 100px;
    }
}