
:root {
	--hue: 223;
	--loading-bg: hsl(var(--hue),10%,90%);
	--loading-fg: hsl(var(--hue),10%,10%);
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320px));
}
.Loading-center {
	color: var(--loading-fg);
	font: 1em/1.5 sans-serif;
	height: 80vh;
	display: grid;
	place-items: center;
}

.ploading {
	display: block;
	width: 10.25em;
	height: 10.25em;
}
.ploading__ring, .ploading__ball {
	animation: loading-ring 2s ease-out infinite;
}
.ploading__ball {
	animation-name: loading-ball;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
	:root {
		--loading-bg: hsl(var(--hue),10%,10%);
		--loading-fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes loading-ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes loading-ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}
